@-moz-document url("about:newtab"), url("about:home") {
	:root{
	--newtab-background-color: #1e1e2e !important;
	--newtab-background-color-secondary: #313244 !important;
	--newtab-element-hover-color: #313244 !important;
	--newtab-text-primary-color: #cdd6f4 !important;
	--newtab-wordmark-color: #cdd6f4 !important;
	}
	
  .icon{
  color: #f5e0dc !important;
  }
  
  body { 
  background-color: #1e1e2e !important;
  }

  .logo {
    background-image: url("zen-logo.svg") !important;
  }
 
}

@-moz-document url("about:preferences"), url("about:preferences/*") {
	:root{
	--zen-colors-tertiary: #181825 !important;
	--in-content-text-color: #cdd6f4 !important;
	--link-color: #f5e0dc !important;
	--link-color-hover: rgb(245, 237, 221) !important;
	}
	
	groupbox{
	background: #1e1e2e !important;
  }
  
  groupbox button, groupbox menulist {
  background: #313244 !important;
  color: #cdd6f4 !important;
  }
  
  .main-content{
  background-color: #11111b !important;
  }
 
}

@-moz-document url("about:addons") {
	:root{
    --zen-dark-color-mix-base: #181825 !important;
    --in-content-page-color: #cdd6f4 !important;
    --background-color-box: #1e1e2e !important;
    --color-accent-primary: #f5e0dc !important;
    --color-accent-primary-hover: rgb(245, 237, 221) !important;
	}
 
}


