/* Catppuccin Mocha Yellow userContent.css*/

@media (prefers-color-scheme: dark) {
  @-moz-document url("about:newtab"), url("about:home") {

    :root{
    --newtab-background-color: #1e1e2e !important;
    --newtab-background-color-secondary: #313244 !important;
    --newtab-element-hover-color: #313244 !important;
    --newtab-text-primary-color: #cdd6f4 !important;
    --newtab-wordmark-color: #cdd6f4 !important;
    }

    .icon{
    color: #f9e2af !important;
    }

    body {
    background-color: #1e1e2e !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-mocha.svg") , url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Mocha/Yellow/zen-logo-mocha.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title{
      color: #f9e2af !important;
    }

    .top-site-outer .search-topsite{
      background-color: #89b4fa !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download{
      fill: #a6e3a1 !important;
    }

  }


  @-moz-document url-prefix("about:preferences"){
    :root{
    --zen-colors-tertiary: #181825 !important;
    --in-content-text-color: #cdd6f4 !important;
    --link-color: #f9e2af !important;
    --link-color-hover: rgb(235, 249, 175) !important;
    --color-accent-primary: #f9e2af !important;
    --color-accent-primary-hover: rgb(235, 249, 175) !important;
    --zen-colors-primary: #313244 !important;
    }

    groupbox{
    background: #1e1e2e !important;
    }

    groupbox button, groupbox menulist {
    background: #313244 !important;
    color: #cdd6f4 !important;
    }

    .main-content{
    background-color: #11111b !important;
    }
  }

  @-moz-document url-prefix("about:addons") {
    :root{
      --zen-dark-color-mix-base: #181825 !important;
      --in-content-page-color: #cdd6f4 !important;
      --background-color-box: #1e1e2e !important;
      --color-accent-primary: #f9e2af !important;
      --color-accent-primary-hover: rgb(235, 249, 175) !important;
    }
  }
}
