/* Catppuccin Frappe Sapphire userChrome.css*/

@media (prefers-color-scheme: dark) {

    :root {
        --zen-colors-primary: #414559 !important;
        --zen-colors-secondary: #414559 !important;
        --zen-colors-tertiary: #292c3c !important;
        --zen-colors-border: #85c1dc !important;
        --toolbarbutton-icon-fill: #85c1dc !important;
        --lwt-text-color: #c6d0f5 !important;
        --toolbar-field-color: #c6d0f5 !important;
        --tab-selected-textcolor: rgb(166, 201, 232) !important;
        --toolbar-field-focus-color: #c6d0f5 !important;
        --toolbar-color: #c6d0f5 !important;
        --newtab-text-primary-color: #c6d0f5 !important;
        --arrowpanel-color: #c6d0f5 !important;
        --arrowpanel-background: #303446 !important;
        --sidebar-text-color: #c6d0f5 !important;
        --lwt-sidebar-text-color: #c6d0f5 !important;
        --lwt-sidebar-background-color: #232634 !important;
        --toolbar-bgcolor: #414559 !important;
        --newtab-background-color: #303446 !important;
        --zen-themed-toolbar-bg: #292c3c !important;
    }

    .sidebar-placesTree {
        background-color: #414559 !important;
    }

    #zen-workspaces-button {
        background-color: #303446 !important;
    }

    #TabsToolbar {
        background-color: #292c3c !important;
    }

    #urlbar-background {
        background-color: #303446 !important;
    }

    .content-shortcuts {
        background-color: #303446 !important;
        border-color: #85c1dc !important;
    }

    .urlbarView-url {
        color: #85c1dc !important;
    }

}
