/* Catppuccin Mocha Blue userChrome.css*/

@media (prefers-color-scheme: dark) {

    :root {
        --zen-colors-primary: #313244 !important;
        --zen-colors-secondary: #313244 !important;
        --zen-colors-tertiary: #181825 !important;
        --zen-colors-border: #89b4fa !important;
        --toolbarbutton-icon-fill: #89b4fa !important;
        --lwt-text-color: #cdd6f4 !important;
        --toolbar-field-color: #cdd6f4 !important;
        --tab-selected-textcolor: rgb(171, 197, 247) !important;
        --toolbar-field-focus-color: #cdd6f4 !important;
        --toolbar-color: #cdd6f4 !important;
        --newtab-text-primary-color: #cdd6f4 !important;
        --arrowpanel-color: #cdd6f4 !important;
        --arrowpanel-background: #1e1e2e !important;
        --sidebar-text-color: #cdd6f4 !important;
        --lwt-sidebar-text-color: #cdd6f4 !important;
        --lwt-sidebar-background-color: #11111b !important;
        --toolbar-bgcolor: #313244 !important;
        --newtab-background-color: #1e1e2e !important;
        --zen-themed-toolbar-bg: #181825 !important;
    }

    .sidebar-placesTree {
        background-color: #313244 !important;
    }

    #zen-workspaces-button {
        background-color: #1e1e2e !important;
    }

    #TabsToolbar {
        background-color: #181825 !important;
    }

    #urlbar-background {
        background-color: #1e1e2e !important;
    }

    .content-shortcuts {
        background-color: #1e1e2e !important;
        border-color: #89b4fa !important;
    }

    .urlbarView-url {
        color: #89b4fa !important;
    }

}
