/* Catppuccin Frappe Rosewater userContent.css*/

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #c6d0f5 !important;
      --color-accent-primary: #f2d5cf !important;
      --color-accent-primary-hover: rgb(248, 232, 228) !important;
      --color-accent-primary-active: rgb(242, 222, 208) !important; 
      background-color: #303446 !important;
      --in-content-page-background: #303446 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #303446 !important;
      --newtab-background-color-secondary: #414559 !important;
      --newtab-element-hover-color: #414559 !important;
      --newtab-text-primary-color: #c6d0f5 !important;
      --newtab-wordmark-color: #c6d0f5 !important;
    }

    .icon {
      color: #f2d5cf !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-frappe.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Frappe/Rosewater/zen-logo-frappe.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #f2d5cf !important;
    }

    .top-site-outer .search-topsite {
      background-color: #8caaee !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #a6d189 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #292c3c !important;
      --in-content-text-color: #c6d0f5 !important;
      --link-color: #f2d5cf !important;
      --link-color-hover: rgb(248, 232, 228) !important;
      --zen-colors-primary: #414559 !important;
      --in-content-box-background: #414559 !important;
      --zen-primary-color: #f2d5cf !important;
    }

    groupbox {
      background: #303446 !important;
    }

    groupbox button,
    groupbox menulist {
      background: #414559 !important;
      color: #c6d0f5 !important;
    }

    .main-content {
      background-color: #232634 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #292c3c !important;
      --background-color-box: #303446 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #303446 !important;
      --social-color: #ca9ee6 !important;
      --coockie-color: #99d1db !important;
      --fingerprinter-color: #e5c890 !important;
      --cryptominer-color: #babbf1 !important;
      --tracker-color: #a6d189 !important;
      --in-content-primary-button-background-hover: rgb(92, 99, 124) !important;
      --in-content-primary-button-text-color-hover: #c6d0f5 !important;
      --in-content-primary-button-background: #51576d !important;
      --in-content-primary-button-text-color: #c6d0f5 !important;
    }


    .card {
      background-color: #414559 !important;
    }
  }
}
