/* Catppuccin Frappe Blue userContent.css*/

@media (prefers-color-scheme: dark) {
  @-moz-document url("about:newtab"), url("about:home") {
    :root{
    --newtab-background-color: #303446 !important;
    --newtab-background-color-secondary: #414559 !important;
    --newtab-element-hover-color: #414559 !important;
    --newtab-text-primary-color: #c6d0f5 !important;
    --newtab-wordmark-color: #c6d0f5 !important;
    }
    
    .icon{
    color: #8caaee !important;
    }
    
    body { 
    background-color: #303446 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo.svg") ,image-set(url("chrome://branding/content/about-logo.png"), url("chrome://branding/content/about-logo@2x.png") 2x) no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }
    
    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
    }
  }

  @-moz-document url-prefix("about:preferences"){
    :root{
    --zen-colors-tertiary: #292c3c !important;
    --in-content-text-color: #c6d0f5 !important;
    --link-color: #8caaee !important;
    --link-color-hover: rgb(160, 140, 238) !important;
    }
    
    groupbox{
    background: #303446 !important;
    }
    
    groupbox button, groupbox menulist {
    background: #414559 !important;
    color: #c6d0f5 !important;
    }
    
    .main-content{
    background-color: #232634 !important;
    }
  }

  @-moz-document url-prefix("about:addons") {
    :root{
      --zen-dark-color-mix-base: #292c3c !important;
      --in-content-page-color: #c6d0f5 !important;
      --background-color-box: #303446 !important;
      --color-accent-primary: #8caaee !important;
      --color-accent-primary-hover: rgb(160, 140, 238) !important;
    }
  }
}

