/* Catppuccin Macchiato Pink userChrome.css*/

@media (prefers-color-scheme: dark) {

    :root {
        --zen-colors-primary: #363a4f !important;
        --zen-primary-color: #f5bde6 !important;
        --zen-colors-secondary: #363a4f !important;
        --zen-colors-tertiary: #1e2030 !important;
        --zen-colors-border: #f5bde6 !important;
        --toolbarbutton-icon-fill: #f5bde6 !important;
        --lwt-text-color: #cad3f5 !important;
        --toolbar-field-color: #cad3f5 !important;
        --tab-selected-textcolor: rgb(224, 200, 237) !important;
        --toolbar-field-focus-color: #cad3f5 !important;
        --toolbar-color: #cad3f5 !important;
        --newtab-text-primary-color: #cad3f5 !important;
        --arrowpanel-color: #cad3f5 !important;
        --arrowpanel-background: #24273a !important;
        --sidebar-text-color: #cad3f5 !important;
        --lwt-sidebar-text-color: #cad3f5 !important;
        --lwt-sidebar-background-color: #181926 !important;
        --toolbar-bgcolor: #363a4f !important;
        --newtab-background-color: #24273a !important;
        --zen-themed-toolbar-bg: #1e2030 !important;
    }

    #permissions-granted-icon{
      color: #1e2030 !important;
    }

    .sidebar-placesTree {
        background-color: #363a4f !important;
    }

    #zen-workspaces-button {
        background-color: #24273a !important;
    }

    #TabsToolbar {
        background-color: #1e2030 !important;
    }

    #urlbar-background {
        background-color: #24273a !important;
    }

    .content-shortcuts {
        background-color: #24273a !important;
        border-color: #f5bde6 !important;
    }

    .urlbarView-url {
        color: #f5bde6 !important;
    }

    #zenEditBookmarkPanelFaviconContainer {
      background: #181926 !important;
    }
}
