/* Catppuccin Frappe Sky userContent.css*/

@media (prefers-color-scheme: dark) {
  @-moz-document url("about:newtab"), url("about:home") {

    :root{
    --newtab-background-color: #303446 !important;
    --newtab-background-color-secondary: #414559 !important;
    --newtab-element-hover-color: #414559 !important;
    --newtab-text-primary-color: #c6d0f5 !important;
    --newtab-wordmark-color: #c6d0f5 !important;
    }

    .icon{
    color: #99d1db !important;
    }

    body {
    background-color: #303446 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-frappe.svg") , url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Frappe/Sky/zen-logo-frappe.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title{
      color: #99d1db !important;
    }

    .top-site-outer .search-topsite{
      background-color: #8caaee !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download{
      fill: #a6d189 !important;
    }

  }


  @-moz-document url-prefix("about:preferences"){
    :root{
    --zen-colors-tertiary: #292c3c !important;
    --in-content-text-color: #c6d0f5 !important;
    --link-color: #99d1db !important;
    --link-color-hover: rgb(153, 176, 219) !important;
    --color-accent-primary: #99d1db !important;
    --color-accent-primary-hover: rgb(153, 176, 219) !important;
    --zen-colors-primary: #414559 !important;
    }

    groupbox{
    background: #303446 !important;
    }

    groupbox button, groupbox menulist {
    background: #414559 !important;
    color: #c6d0f5 !important;
    }

    .main-content{
    background-color: #232634 !important;
    }
  }

  @-moz-document url-prefix("about:addons") {
    :root{
      --zen-dark-color-mix-base: #292c3c !important;
      --in-content-page-color: #c6d0f5 !important;
      --background-color-box: #303446 !important;
      --color-accent-primary: #99d1db !important;
      --color-accent-primary-hover: rgb(153, 176, 219) !important;
    }
  }
}
