/* Catppuccin Latte Lavender userChrome.css*/

@media (prefers-color-scheme: light) {
    
    :root {
        --zen-colors-primary: #ccd0da !important;
        --zen-colors-secondary: #ccd0da !important;
        --zen-colors-tertiary: #e6e9ef !important;
        --zen-colors-border: #7287fd !important;
        --toolbarbutton-icon-fill: #7287fd !important;
        --lwt-text-color: #4c4f69 !important;
        --toolbar-field-color: #4c4f69 !important;
        --tab-selected-textcolor: rgb(95, 107, 179) !important;
        --toolbar-field-focus-color: #4c4f69 !important;
        --toolbar-color: #4c4f69 !important;
        --newtab-text-primary-color: #4c4f69 !important;
        --arrowpanel-color: #4c4f69 !important;
        --arrowpanel-background: #eff1f5 !important;
        --sidebar-text-color: #4c4f69 !important;
        --lwt-sidebar-text-color: #4c4f69 !important;
        --lwt-sidebar-background-color: #dce0e8 !important;
        --toolbar-bgcolor: #ccd0da !important;
        --newtab-background-color: #eff1f5 !important;
    }

    .sidebar-placesTree {
        background-color: #ccd0da !important;
    }

    #zen-workspaces-button {
        background-color: #eff1f5 !important;
    }

    #TabsToolbar {
        background-color: #e6e9ef !important;
    }

    #urlbar-background {
        background-color: #eff1f5 !important;
    }

    .content-shortcuts {
        background-color: #eff1f5 !important;
        border-color: #7287fd !important;
    }

    .urlbarView-url {
        color: #7287fd !important;
    }

}

