/* Catppuccin Latte Rosewater userContent.css*/

@media (prefers-color-scheme: light) {
  @-moz-document url("about:newtab"), url("about:home") {

    :root{
    --newtab-background-color: #eff1f5 !important;
    --newtab-background-color-secondary: #ccd0da !important;
    --newtab-element-hover-color: #ccd0da !important;
    --newtab-text-primary-color: #4c4f69 !important;
    --newtab-wordmark-color: #4c4f69 !important;
    }

    .icon{
    color: #dc8a78 !important;
    }

    body {
    background-color: #eff1f5 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-latte.svg") , url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Latte/Rosewater/zen-logo-latte.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title{
      color: #dc8a78 !important;
    }

    .top-site-outer .search-topsite{
      background-color: #1e66f5 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download{
      fill: #40a02b !important;
    }

  }


  @-moz-document url-prefix("about:preferences"){
    :root{
    --zen-colors-tertiary: #e6e9ef !important;
    --in-content-text-color: #4c4f69 !important;
    --link-color: #dc8a78 !important;
    --link-color-hover: rgb(220, 188, 120) !important;
    --color-accent-primary: #dc8a78 !important;
    --color-accent-primary-hover: rgb(220, 188, 120) !important;
    }

    groupbox{
    background: #eff1f5 !important;
    }

    groupbox button, groupbox menulist {
    background: #ccd0da !important;
    color: #4c4f69 !important;
    }

    .main-content{
    background-color: #dce0e8 !important;
    }
  }

  @-moz-document url-prefix("about:addons") {
    :root{
      --zen-dark-color-mix-base: #e6e9ef !important;
      --in-content-page-color: #4c4f69 !important;
      --background-color-box: #eff1f5 !important;
      --color-accent-primary: #dc8a78 !important;
      --color-accent-primary-hover: rgb(220, 188, 120) !important;
    }
  }
}
