/* Catppuccin Mocha Lavender userContent.css*/

@media (prefers-color-scheme: dark) {
  @-moz-document url("about:newtab"), url("about:home") {
    :root{
    --newtab-background-color: #1e1e2e !important;
    --newtab-background-color-secondary: #313244 !important;
    --newtab-element-hover-color: #313244 !important;
    --newtab-text-primary-color: #cdd6f4 !important;
    --newtab-wordmark-color: #cdd6f4 !important;
    }
    
    .icon{
    color: #b4befe !important;
    }
    
    body { 
    background-color: #1e1e2e !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo.svg") ,image-set(url("chrome://branding/content/about-logo.png"), url("chrome://branding/content/about-logo@2x.png") 2x) no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }
    
    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
    }
  }

  @-moz-document url-prefix("about:preferences"){
    :root{
    --zen-colors-tertiary: #181825 !important;
    --in-content-text-color: #cdd6f4 !important;
    --link-color: #b4befe !important;
    --link-color-hover: rgb(207, 180, 254) !important;
    }
    
    groupbox{
    background: #1e1e2e !important;
    }
    
    groupbox button, groupbox menulist {
    background: #313244 !important;
    color: #cdd6f4 !important;
    }
    
    .main-content{
    background-color: #11111b !important;
    }
  }

  @-moz-document url-prefix("about:addons") {
    :root{
      --zen-dark-color-mix-base: #181825 !important;
      --in-content-page-color: #cdd6f4 !important;
      --background-color-box: #1e1e2e !important;
      --color-accent-primary: #b4befe !important;
      --color-accent-primary-hover: rgb(207, 180, 254) !important;
    }
  }
}

